---
BasedOnStyle: GNU
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
  PadOperators: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterReturnType: None
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: false
ColumnLimit: 120
Cpp11BracedListStyle: true
IndentWidth: 4
KeepEmptyLines:
  AtStartOfBlock: false
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
QualifierAlignment: Right
SpaceBeforeParens: ControlStatements
TabWidth: 4
