.idea
.project
.cache
benchmarks/mir_perf_framework_setup.py
debian/*.log
include/server/mir/version.h
include/client/mir_toolkit/version.h
include/miral/miral/version.h
build-*
cmake-*
build
benchmarks/build
compile_commands.json
__pycache__/

tools/bot-data.tar.xz
_codeql_detected_source_root
