.gitattributes export-ignore
.gitconfig     export-ignore
.gitignore     export-ignore
debian         export-ignore
.github        export-ignore
spread         export-ignore
spread.yaml    export-ignore
tools/make_release_tarball    export-ignore
tools/ppa-upload.sh           export-ignore

debian/changelog                merge=release-notes
doc/sphinx/release-notes.md     merge=release-notes
rpm/mir.spec                    merge=release-notes
