sphinx==7.1.2
sphinx-autobuild
sphinx-design
furo
sphinx-tabs
sphinx-reredirects
pyspelling
sphinxext-opengraph
lxd-sphinx-extensions
sphinx-copybutton
myst-parser
sphinxcontrib-jquery
sphinx-notfound-page
breathe
exhale
sphinxcontrib-mermaid
