Source: mir
Section: x11
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Thomas Voß <thomas.voss@canonical.com>
Build-Depends: cmake,
               cmake-data,
               debhelper (>= 9),
               doxygen,
               graphviz,
               libboost1.48-all-dev | libboost-all-dev,
               protobuf-compiler,
               libdrm-dev [!armhf],
               libegl1-mesa-dev,
               libgles2-mesa-dev,
               libgbm-dev [!armhf],
               libprotobuf-dev,
               pkg-config,
               libhybris-dev [armhf]
Standards-Version: 3.9.3
Homepage: https://launchpad.net/mir
# If you aren't a member of ~mir-team but need to upload packaging changes,
# just go ahead. ~mir-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~mir-team/mir/trunk

Package: libmirprotobuf0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Display server for Ubuntu - protocol implementation
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains the protocol's shared library.

Package: libmirprotobuf-dev
Section: libdevel
Architecture: any
Depends: libmirprotobuf0 (= ${binary:Version}),
         libprotobuf-dev,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Display server for Ubuntu - protocol definition
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains the protocol's definition files.

Package: libmirserver0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Display server for Ubuntu - server library
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains the shared library needed by server applications for Mir.

Package: libmirserver-dev
Section: libdevel
Architecture: any
Depends: libmirserver0 (= ${binary:Version}),
         libmirprotobuf-dev (= ${source:Version}),
         ${misc:Depends},
Description: Display server for Ubuntu - development headers
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains header files required to build Mir servers.

Package: libmirclient0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Display server for Ubuntu - client library
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains the shared library needed by client applications for Mir.

Package: libmirclient-dev
Section: libdevel
Architecture: any
Depends: libmirclient0 (= ${binary:Version}),
         libmirprotobuf-dev (= ${source:Version}),
         ${misc:Depends},
Description: Display server for Ubuntu - development headers
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains header files required to develop against Mir.

Package: libmirclient-demos
Architecture: any
Depends: ${misc:Depends},
        libmirclient-dev(= ${binary:Version}),
Breaks: mir (<< 0.0.2-0ubuntu1)
Description: Display server for Ubuntu - example client programs
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains demo applications (with source) that use the Mir display server

Package: mir
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libmirserver0 (= ${binary:Version}),
Description: Display server for Ubuntu - server executable
 Mir is a display server running on linux systems, with a focus on efficiency,
 robust operation and a well-defined driver model.
 .
 Contains the main server executable.

Package: mir-doc
Architecture: all
Depends: ${misc:Depends}
Description: API documentation for mir
 This package installs the mir API documentation.

