Source: mir
Section: x11
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Thomas Voß <thomas.voss@canonical.com>
Build-Depends: cmake,
               cmake-data,
               debhelper (>= 9),
               gcc-4.6,
               g++-4.6,
               libboost1.48-all-dev | libboost-all-dev,
               protobuf-compiler,
               libdrm-dev,
               libegl1-mesa-dev,
               libgles2-mesa-dev,
               libgbm-dev,
               libprotobuf-dev,
               pkg-config,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/mir
# If you aren't a member of ~rocket-scientists but need to upload packaging changes,
# just go ahead. ~rocket-scientists will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~rocket-scientists/mir

Package: libmirprotobuf0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu display server
 Mir is the next generation display server for Ubuntu.
 .
 Contains the protocol's shared library and protocol definition files.

Package: libmirclient0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu display server
 Mir is the next generation display server for Ubuntu.
 .
 Contains the shared library needed by client applications for Mir.

Package: mir
Section: x11
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu display server
 Mir is the next generation display server for Ubuntu.
 .
 Contains the main server executable.

Package: libmirclient-dev
Section: libdevel
Architecture: any
Depends: libmirprotobuf0 (= ${binary:Version}),
         libmirclient0 (= ${binary:Version}),
         mir (= ${binary:Version}),
         ${misc:Depends},
Description: Ubuntu display server
 Mir is the next generation display server for Ubuntu.
 .
 Contains header files required to develop against Mir.
