src/protocols.rs
src/dispatch.rs
src/ffi.rs
src/middleware.rs
src/wayland_server_generated.rs
wayland_rs_cpp/include/*
wayland_rs_cpp/src/*

!wayland_rs_cpp/include/protocol_error.h
!wayland_rs_cpp/include/weak.h
!wayland_rs_cpp/src/protocol_error.cpp
