name: PPA Upload

on:
  push:
    branches:
    - main
    - release/[0-9]+.[0-9]+
    tags:
    - v[0-9]+.[0-9]+.[0-9]+

jobs:
  PPAUpload:
    strategy:
      fail-fast: true
      matrix:
        release:
        - "24.04"
        - "devel"

    runs-on: ubuntu-latest

    env:
      DEBFULLNAME: "Mir CI Bot"
      DEBEMAIL: "mir-ci-bot@canonical.com"

    steps:
    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@v6
      with:
        gpg_private_key: ${{ secrets.MIR_BOT_GPG_PRIVATE_KEY }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        # Need full history for version determination
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo apt-get install --no-install-recommends --yes \
          debhelper \
          devscripts \
          dput \
          dh-python \
          python3-launchpadlib

    - name: Set up Launchpad credentials
      uses: DamianReeves/write-file-action@v1.3
      with:
        path: ${{ github.workspace }}/../lp_credentials
        contents: ${{ secrets.LAUNCHPAD_CREDENTIALS }}

    - name: Upload to PPA
      env:
        RELEASE: ${{ matrix.release }}
      run: tools/ppa-upload.sh ${{ github.workspace }}/../lp_credentials

    - if: ${{ failure() && runner.debug }}
      name: Setup upterm session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
