name: Snap

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-pr${{ github.event.number }}
  cancel-in-progress: true

jobs:
  mir-libs:
    runs-on: ubuntu-latest

    timeout-minutes: 30

    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # needed for version determination

    - name: Build and publish the snap
      uses: canonical/actions/build-snap@release
      with:
        snapcraft-token: ${{ secrets.SNAPCRAFT_TOKEN }}
        publish: ${{ github.event_name == 'pull_request' && github.repository == github.event.pull_request.head.repo.full_name }}
        publish-channel: 22/edge/pr${{ github.event.number }}

  snap:
    # Only run if we have access to secrets.
    if: ${{ github.event_name == 'pull_request' && github.repository == github.event.pull_request.head.repo.full_name }}

    needs: [mir-libs]

    runs-on: ubuntu-latest

    timeout-minutes: 30

    strategy:
      matrix:
        include:
        - snap: MirServer/mir-test-tools
          track: 22
        - snap: MirServer/confined-shell-wip
          track: latest
        - snap: MirServer/ubuntu-frame
          track: 22

    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        repository: ${{ matrix.snap }}
        ref: mir-libs-build
        fetch-depth: 0  # needed for version determination

    - name: Tweak the stage snap
      run: |
        sed -i 's@- mir-libs.*$@\0/pr${{ github.event.number }}@' snap/snapcraft.yaml

    - name: Build and publish the snap
      uses: canonical/actions/build-snap@release
      with:
        snapcraft-token: ${{ secrets.SNAPCRAFT_TOKEN }}
        publish: true
        publish-channel: ${{ matrix.track }}/edge/mir-pr${{ github.event.number }}
