name: Symbols Check

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number && format('pr{0}', github.event.number) || github.ref_name }}
  cancel-in-progress: true

jobs:
  Run:
    runs-on: ubuntu-24.04

    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --yes libclang1-18 python3-clang-18
          echo "MIR_SYMBOLS_MAP_GENERATOR_CLANG_SO_PATH=/usr/lib/llvm-18/lib/libclang-18.so.1" >> $GITHUB_ENV
          echo "MIR_SYMBOLS_MAP_GENERATOR_CLANG_LIBRARY_PATH=/usr/lib/llvm-18/lib" >> $GITHUB_ENV
          sudo apt-get build-dep ./

      - name: Configure
        run: >
          cmake -B build ${{ github.workspace }}

      - name: Check symbols
        run: |
          RET=0
          cmake --build build --target check-miral-symbols-map || RET=$?
          cmake --build build --target check-miroil-symbols-map || RET=$?
          cmake --build build --target check-mirserver-symbols-map || RET=$?
          cmake --build build --target check-mircommon-symbols-map || RET=$?
          exit $RET

      - if: ${{ failure() && runner.debug }}
        name: Setup upterm session
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
