name: TICS

on:
  push:
    branches:
    - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
    - '.github/**'
    - 'doc/**'
    - 'snap/**'
    - 'spread**'
    - 'tools/**'
    - '!.github/workflows/tics.yml'
  merge_group:
    types: [checks_requested]
  workflow_dispatch:
    inputs:
      detach:
        description: "Detach TICS QServer before the run"
        required: false
        default: "false"
      calc:
        description: "Comma-separated list of metrics to be calculated."
        required: false
        default: "ALL"
      nocalc:
        description: "Comma-separated list of metrics to not be calculated."
        required: false
        default: ""

concurrency:
  group: ${{ github.workflow }}${{ github.event.number && format('-pr{0}', github.event.number) || '' }}
  # Don't interrupt QServer runs as that can corrupt the TICS database
  cancel-in-progress: ${{ github.event_name != 'push' }}

jobs:
  TICS:
    # Only run if we have access to secrets.
    if: github.event_name != 'pull_request' || github.repository == github.event.pull_request.head.repo.full_name

    runs-on: [self-hosted, reactive, amd64, 2xlarge-tiobe, noble]

    env:
      PROJECT: mir
      CCACHE_DIR: "/tmp/ccache"
      NEEDRESTART_SUSPEND: yes
      DEBIAN_FRONTEND: noninteractive
      TICS_CHANGED_LIST: tics_changed.list
      TICS_TMPDIR: /tmp/tics-tmpdir

    timeout-minutes: 360
    steps:
    - name: Check out code
      uses: actions/checkout@v6
      with:
        # So we can determine the merge base
        fetch-depth: 0

    - name: Set up CCache
      id: setup-ccache
      run: |
        sudo apt-get --yes install ccache
        mkdir --parents ${CCACHE_DIR}

        # Find the merge base to avoid populating the cache with short lived cache entries
        # and evicting those we care for - from `main`
        echo "merge-base=$( git merge-base origin/main ${{ github.sha }} )" >> $GITHUB_OUTPUT

    - name: CCache
      uses: actions/cache@v5
      with:
        key: ccache-coverage-${{ steps.setup-ccache.outputs.merge-base }}
        # if exact match isn't found, use the most recent entry for the task
        restore-keys: |
          ccache-coverage-
        path: ${{ env.CCACHE_DIR }}

    - name: Ensure ccache size
      run: |
        # a full build yielded 180M cache
        echo "max_size = 250M" > ${CCACHE_DIR}/ccache.conf

    - name: Install dependencies
      run: |
        sudo --preserve-env apt-add-repository --yes ppa:mir-team/dev
        sudo --preserve-env apt-get install --yes --no-install-recommends \
          cargo-1.82 \
          clang \
          dmz-cursor-theme \
          flake8 \
          gcovr \
          glmark2-es2 \
          glmark2-es2-wayland \
          lcov \
          libclang-rt-dev \
          mesa-utils \
          ninja-build \
          pylint \
          rustc-1.82 \
          xwayland

        sudo --preserve-env apt-get build-dep --yes ./

        echo PATH=/usr/lib/rust-1.82/bin:${PATH} >> $GITHUB_ENV

    - name: Configure
      run: >
        cmake
        -DCMAKE_BUILD_TYPE=Debug
        -DMIR_ENABLE_COVERAGE=ON
        -DMIR_RUN_PERFORMANCE_TESTS=ON
        -DCMAKE_C_COMPILER_LAUNCHER=ccache
        -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        -GNinja
        -B build
        ${{ github.workspace }}

    - name: Build
      run: cmake --build build

    - name: Clear CCache stats
      run: ccache --show-stats --zero-stats

    - name: Measure coverage
      timeout-minutes: 30
      run: |
        cmake --build build --target coverage-html

    - name: Get changed files
      if: github.event_name == 'merge_group'
      run: |
        # Every merge_group event runs for one pull request, so we can diff against parent
        git diff --name-only ${{ github.sha }}~1 ${{ github.sha }} >> $TICS_CHANGED_LIST

    - if: ${{ github.event.inputs.detach == 'true' }}
      name: Detach TICS QServer to prevent "project already connected" issue
      env:
        TICSAUTHTOKEN: ${{ secrets.TICSAUTHTOKEN }}
      run: &tics-detach |
        source ~/.profile
        TICSMaintenance -project ${PROJECT} -detach

    - name: Run TICS analysis
      uses: tiobe/tics-github-action@v3
      timeout-minutes: 300  # avoid global job timeout to perform cleanup below
      with:
        mode: ${{ contains(fromJSON('["pull_request", "merge_group"]'), github.event_name) && 'client' || 'qserver' }}
        calc: ${{ github.event.inputs.calc }}
        nocalc: ${{ github.event.inputs.nocalc }}
        project: ${{ env.PROJECT }}
        viewerUrl: https://canonical.tiobe.com/tiobeweb/TICS/api/cfg?name=default
        ticsAuthToken: ${{ secrets.TICSAUTHTOKEN }}
        installTics: true
        filelist: ${{ github.event_name == 'merge_group' && env.TICS_CHANGED_LIST || '' }}
        # FIXME: workaround for a TICS bug
        additionalFlags: ${{ contains(fromJSON('["pull_request", "merge_group"]'), github.event_name) && '-resultdir build' || '' }}
        tmpdir: ${{ runner.debug && env.TICS_TMPDIR || null }}

    - if: ${{ always() && runner.debug }}
      uses: actions/upload-artifact@v6
      with:
        name: TICS tmpdir
        path: ${{ env.TICS_TMPDIR }}
        if-no-files-found: error

    - if: ${{ contains(fromJSON('["push", "workflow_dispatch"]'), github.event_name) && cancelled() }}
      name: Detach TICS QServer to prevent "project already connected" issue
      env:
        TICSAUTHTOKEN: ${{ secrets.TICSAUTHTOKEN }}
      run: *tics-detach

    - if: ${{ failure() && runner.debug }}
      name: Setup tmate session
      uses: canonical/action-tmate@main
      with:
        limit-access-to-actor: true
